<title>Check a Poker Hand</title>
<h1>Check a Poker Hand</h1>
  <!--<table class="form"></table>-->

  <img src="/poker.jpg"></img>
  <%= form_tag({controller:"check_poker", action:"input_cards"}, { method: :post }) do %>
    <br>
    <td><%= text_field_tag "cards", "S10 H11 D12 C12 H1", :size => "200" %></td></br>
    </tr>
    <tr>
      <td><%= submit_tag("Check")%></td>
    </tr>
  <%end %>
